.edit_role_wrapper{
    padding: 20px;
}
.add_role_btn{
    border: unset;
    color: white;
    border-radius: 4px;
    padding: 0px 6px;
}
.role_heading{
    color: #696969;
}
ul.role_list{
    padding: 12px 18px;
    margin-bottom: 0px;
}
ul.role_list li {
    justify-content: space-between;
    align-items: center;
    color: #696969;
    list-style-type: disc !important;
}
.role_list li h3{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.cmn_text_heading{
    color: #696969;
}
.assign_role_header h3{
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;

}
.assign_role_header{
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    border-bottom: 1px solid #E2E6EB
}

.assign_role_wrapper {
    justify-content: space-between;
}
.assign_role_wrapper .new_employee_form_group{
    margin-top: 0px;
    display: flex;
    width: 77%;
    gap: 16px;
    align-items: center;
}
.assign_role_wrapper .new_employee_form_group label{
    white-space: nowrap;
}
.assign_role_wrapper .new_employee_form_group input{
    margin-top: 0px;
}
table.edit_role_table th {
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: "Open-Sans",sans-serif;
}
table.edit_role_table{
    width: 100%;
}
table.edit_role_table th:first-child{
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
table.edit_role_table td {
    text-align: center;
    border: 1px solid #ddd;
}
table.edit_role_table td:first-child {
    text-align: left;
    color: #696969;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans' ,sans-serif;
}

@media screen and (max-width:1044px){
    .assign_role_wrapper{
        flex-wrap: wrap;

    }
    .assign_role_wrapper .new_employee_form_group {
        width: 100%;
        flex-wrap: wrap;
    }
    .edit_role_delete_outer{
        margin-top: 15px;
    }

}

