.cmn_width .sidebar_content{
    display: unset;
    }
    .cmn_width{
        width: 65px !important;
        padding: 0px;
      }
    .cmn_width .sidebar-button{
      padding: 12px 6px;
    }
    .sidebar_content{
       display: flex;
          gap: 10px;
          align-items: center;
    }
    .list_inner_item_outer{
      list-style: none;
      border-left: 1px solid gray;
      margin-left: 3.5rem;
      padding-left: 11px;
    }
    .list_inner_item_outer li h3{
      font-size: 14px;
      line-height: 31px;
      margin-bottom: 0px;
    }
    .sidebar-button {

          margin-top: 5px;
          padding: 12px 16px;
          background-color: transparent;
          border: none;
          color: #333;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          /* border-radius: 11px; */
        
      }
      .sidebar-button  a{
        text-decoration: unset;
      }
      .list_inner_item_outer li a{
        text-decoration: unset;
        color: #333333;
      }
      .cmn_width .sidebuttonbar- {
        margin-top: 5px 10px;
      }
      .sidebar-button:hover {
        color: #c22e0a;
        background-color: #F7E3E3;
      }
    
      .sidebar-button.active-pathname .sidebar_content h4{
        color: #F41A1A;
      }
      .active-pathname{
        background-color: #F7E3E3;
      }
      
      .sidebar-button.active-pathname .sidebar_content svg{
        color: #F41A1A;
      }
      .sidebar_content h4{
        font-size: 13px;
          margin-bottom: 0px;
          color: #333333;
          font-weight: 400;
          font-family: "Inter", sans-serif;
      }
      .filterClass{
        filter: invert(36%) sepia(84%) saturate(6135%) hue-rotate(332deg) brightness(102%) contrast(110%);
      }
      .sidebar_content svg{
        color: #333333;
        font-size: 19px;
      }
      .sidebar_logo_outer img{
        object-fit: contain;
      }
      .sidebar_logo_outer h3{
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #555555;
        font-weight: 600;
        line-height: 20.83px;
        letter-spacing: 2px;
      }
      .bar{
        text-align: right;
       
        font-size: 22px;
        cursor: pointer;
        padding-top: 30px;
      }
      .sidebar {
        height: 100%;
        width: 250px;
        overflow: hidden;
        position: fixed;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        transition: all 0.3s ease;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #FFFFFF;
        /* border-top-right-radius: 40px; */
        box-shadow: 1px 0px 5px 0px #dbd7d7;
      
      }      

       @media screen and (max-width:1400px){
       
       }


       /*css variables*/
:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  border: none;
  outline: none;
  background: none; 
  cursor: pointer;
}

input {
  border: none; 
  outline: none;
  background: none; 
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*body*/
body {
  background-color: var(--body-bg-color);
  color: var(--text-color); 
  width: 100vw; 
  height: auto; 
  font-family: 'Poppins', sans-serif;
  position: relative;
}


/*navbar*/
.navbar {
  z-index: 2;
  width: 80px;
  max-width: 4rem;
  background-color: var(--green);
  height: 100vh; 
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s ease;
}


.navbar .navbar-container {
  padding: 1rem; 
}

/*logo*/
.navbar .navbar-container .navbar-logo-div {    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.7rem;
  /* padding-left: 1rem; */
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler {
  transition: .2s ease-in-out;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler i { 
font-size: 1rem; 
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler:hover {
  color: var(--light-grey);
}

.navbar .navbar-container .navbar-logo-div .navbar-logo-link {
  display: none; 
}




#icon-search {
position: absolute; 
color: var(--green);
font-size: 1.2rem;
top: 4.5rem; 
left: 1.4rem;
}

.navbar .navbar-search::placeholder { 
  visibility: hidden;  
  opacity: 0;
}

/*menu list*/
.navbar .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.navbar .menu-list .menu-item {    
  width: 100%;
}


.navbar .menu-list .menu-item  .menu-link{    
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem; 
  transition: 0.2s ease-in-out; 
  font-weight: 500;
}


.navbar .menu-list .menu-item  .menu-link .menu-link-text{   
  display: none;
  color: inherit; 
}

.navbar .menu-list .menu-item  .menu-link:hover,
.navbar .menu-list .menu-item  .menu-link:hover
{
  color: var(--light-grey); 
}

/*user information div*/
.navbar .user-container {
  background-color: var(--light-green); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.navbar .user-container .user-info {
  display: flex;
align-items: center;
  gap: 0.4rem;
  display: none;
}

.navbar .user-container .user-info i {
  font-size: 1.2rem;
}

.navbar .user-container .user-info .user-details .user-name {
  font-size: 1.1rem;
  font-weight: light;
}

.navbar .user-container .user-info .user-details .user-occupation {
  font-size: 0.9rem;
  font-weight: lighter;
}



/*navbar.active*/
/*navbar.active navbar*/
.navbar.active {
  width: 350px; 
  max-width: 20%; 
}

/*navbar.active logo*/
.navbar.active .navbar-container .navbar-logo-div {  
  justify-content: space-between;
  padding-left: 1rem; 
}

.navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
  display: block; 
}

/*navbar.active search input*/
.navbar.active .navbar-search {
  background-position: 1rem 0.7rem;
  padding: 1rem;
  padding-left: 3rem;
}

.navbar.active #icon-search {
top: 5.1rem; 
left: 1.6rem;
}

.navbar.active .navbar-search::placeholder { 
  visibility: visible;  
  opacity: 1;
}

/*navbar.active menu*/
.navbar.active .menu-list { 
  padding-left: 1rem;
}

.navbar.active .menu-list .menu-item  .menu-link {
  justify-content: flex-start;
}

.navbar.active .menu-list .menu-item  .menu-link .menu-link-text{   
  display: inline;
}

/*navbar.active user container*/
.navbar.active .user-container {
  justify-content: space-between;
  align-items: center;
}

.navbar.active .user-container .user-info {
  display: flex; 
}


/*dashboard*/
.dashboard { 
  width: auto;
  height: auto; 
  margin-left: 5rem;
}

.navbar.active + .dashboard {
  margin-left: 22%; 
}



/*media queries*/
@media only screen and (max-width: 870px) {
  .navbar.active {
      max-width: 27%; 
  }

  .navbar.active + .dashboard { 
      margin-left: 30%;
  }
} 

@media only screen and (max-width: 670px) { 
  .navbar.active { 
      min-width: 100%;        
  }

  .navbar .navbar-container {
      position: relative;
      width: 100%;
  }

  .navbar .navbar-search { 
      position: absolute;
      border-radius: 0;
      left: 0;
  }

  .navbar .menu-item {
      position: relative;
      top: 4rem;
  }
}

@media only screen and (max-width: 350px) { 
  .dashboard .title {
      font-size: 1.7rem;
  }}  