.lead_footer {
    text-align: center;
}

.lead_footer button {color: #fff;background: #9E0302;border-radius: 35px;font-size: 18px;border: unset;padding: 5px 40px;}

.lead_footer {
    padding-top: 87px;
}

.lead_footer p {
    margin-bottom: 10px;
    margin-top: 38px;
}
.header_wrapper img {
    width: 50%;
}
.lead_footer {
    padding-bottom: 50px;
}

.leads_wrapper h1 {
    font-size: 30px;
    max-width: 859px;
    border-bottom: 1px solid #8F8B8B38;
    padding-bottom: 14px;
    margin-bottom: 21px;
}

.leads_wrapper ol li {
    font-size: 20px;
    color: #000;
    line-height: 28px;
    margin-bottom: 15px;
}

.leads_wrapper label {
    font-size: 18px;
    font-weight: 500;
    margin-left: 14px;
}

.leads_wrapper ol {
    padding-left: 20px;
}
.leads_outer{
    min-height: 100vh;
    background-color: #fff;
}
.leads_wrapper {
    padding-top: 45px;
    padding-left: 2em;
}
.zero_header{

    padding: 20px 20px;
    border-bottom: 1px solid #ddd;

}
.header_wrapper{
    max-width: 90%;
}
.zero_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leads-user-name {
    display: flex;
    align-items: end;
}
.leads-user-name h4 {
    font-size: 16px;
    margin: 0;
}
a.ultivic-text {
    text-decoration: none;
    color: #4F4F4F;
}
.leader_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leader_header p {
    background: #9E0302;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    padding: 4px 20px;
    border-radius: 35px;
}

.leader_header p span {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
}
.leader_header h3{
    font-size: 19px;
    margin-bottom: 0;
}
.leader_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leader_header p {
    background: #9E0302;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    padding: 4px 20px;
    border-radius: 35px;
}

.leader_header p span {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
}
button.cmn_btn.dark_bg {
    background: #9E0302;
}
.thankyou_content p{
font-size: 20px;
color: #000;
}
.thankyou_content{
    max-width: 635px;
    width: 100%;
    text-align: center;
}

ul.question_type {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}
li.divider_bar {
    width: 39px;
    height: 2px;
    background: #6C6F75;
}
li.divider_bar {
    width: 39px;
    height: 2px;
    background: #6C6F75;
}

ul.cmn_questions_list {
    list-style: none;
    padding-left: 0;
}

li.question_card {
    box-shadow: 3px 3px 4.5px #D9D9D954, -3px -3px 4.5px #DEDEDE54;
    padding: 20px;
    /* background: #fff; */
    border-radius: 6px;
}

li.question_card h4 {
    font-size: 19px;
    font-weight: 400;
}
li.question_card .input.group {
    margin-bottom: 10px;
}
.input.group label {
    color: #344054;
    font-size: 14px;
}
ul.cmn_questions_list .form-control {
    background: transparent;
}

.cpointer{
    cursor: pointer;
}