.attendence_heading{
    color: white;
    padding: 7px 35px 0px;
    margin: px;
    font-size: 24px;

}
.rating_outer svg {
    color: #eb833e;
    font-size: 18px;
}
.rating_outer h3{
    color: #798495;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
}
 
button.cmn_bg_btn {
    border: unset;
    background: #9E0302;
    border-radius: 35px;
    color: #fff;
    padding: 5px 20px;
}

.cmn_card {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0,0,0,10%);
}

.attendence_submit h4 {
    font-size: 18px;
    color: #05004E;
    font-weight: 600;
}

.attendence_submit label {
    font-size: 14px;
    color: #748f74;
    margin-bottom: 4px;
    font-weight: 400;
}
.cmn_card .rbc-toolbar button {
    border-color: #a30d03;
    color: #a30d03;
}

.cmn_card .rbc-toolbar button.rbc-active {
    background: #a30d03;
    color: #fff;
}

  .cmn_card  .rbc-event, .cmn_card  .rbc-day-slot .rbc-background-event{
    font-size: 12px;
  }
  .cmn_card  .rbc-toolbar button:hover{
    background: #a30d03;
    color: #fff;
  }
  /* employee attendence report */

  .report_header {
    display: flex;
    gap: 15px;
}
.report_table thead tr th {
    font-weight: 500;
    font-size: 14px;
}
.norecord_found {
    padding: 3em 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.norecord_found h4 {
    margin: 0;
}