.holiday_event_wrapper .employee_detail_table th{
    text-align: center;
}
.holiday_event_wrapper .employee_detail_table td{
    text-align: center;
}
.serach_reset_outer{
    display: flex;
    justify-content: end;
    gap: 11px;
}
@media screen and (max-width:767px) {
       .serach_reset_outer{
        flex-wrap: wrap;
       }
       
    
    }
